<%- include('./partials/header.ejs', { title }) %>

<div class="container mt-5 mb-5">
  <mark><%= u.dump(flashes) %></mark>
  <h1><%= title %></h1>
  <p><%= currentPath %></p>
  <p><%= u.siteName %></p>
  <p><%- u.icon("zap") %></p>
  <p><%- u.dump(u.menu) %></p>
  <p><%- u.datefns.format(new Date(), "'Today is a ' eeee") %></p>
</div>

<%- include('./partials/footer.ejs') %>